@font-face {
    font-family: 'marmelad';
    src: url('fonts/marmelad-regular.eot');
    src: url('fonts/marmelad-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/marmelad-regular.woff') format('woff'),
         url('fonts/marmelad-regular.ttf') format('truetype'),
         url('fonts/marmelad-regular.svg#marmeladregular') format('svg');
font-weight: normal;
font-style: normal;
}
.page
{
width:1200px;
margin: 0 auto;
}
.head
{
height:180px;
margin: 0 auto;
background: url(../images/log.png) repeat-y+300;
border-radius:10px; 
}
.menu
{
height:50px;
border-radius:10px;
}
.content
{
color:white;
background:rgb(77,77,77);
border-radius:10px;
box-shadow: 0px 3px 7px black;
}
.text 
{
color:white;
background:rgb(77,77,77);
width:70%;
}
.foot
{
color:black;
border-radius:6px;
margin: -7px auto;
background:83CD29;
box-shadow: 0px 3px 7px black;
}
body
{
background: url(../images/bg_i.png) rgb(47,47,47) 100% 100% repeat-x ;
}